<a id="dark-toggle" class="btn" title="Click to toggle the dark theme." aria-label="Dark theme switch button" data-toggle="tooltip" data-placement="left"></a>

<footer class="footer">
	<div class="container">
		<section class="footer-intro">
			<a href="/" class="navbar-brand mb-3">
				<img src="/assets/images/icon.svg" alt="Scratch Addons logo" class="mr-2"></img>
				<span>Scratch Addons</span>
			</a>
			<iframe src="https://ghbtns.com/github-btn.html?user=ScratchAddons&repo=ScratchAddons&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
			<iframe src="https://ghbtns.com/github-btn.html?user=ScratchAddons&repo=ScratchAddons&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
		</section>
		<section>
			<h3>Pages</h3>
			<a href="/faq">FAQ</a>
			<a href="/feedback">Send Feedback</a>
			<a href="/contributors">Contributors</a>		
			<a href="/changelog">Changelog</a>
			<a href="/addons">Addons</a>
			<a href="/privacy">Privacy Policy</a>
		</section>
		<section>
			<h3>Discuss</h3>
			<a href="https://github.com/ScratchAddons/ScratchAddons/discussions" rel="noopener">Discussion Forum</a>
			<a href="https://github.com/ScratchAddons/ScratchAddons/issues" rel="noopener">Issues</a>
			<a href="https://discord.gg/R5NBqwMjNc" rel="noopener">Community Discord</a>
			<a href="https://discord.gg/Ak8sCDQ" rel="noopener">Development Discord</a>
		</section>
		<section>
			<h3>Resources</h3>
			<a href="https://github.com/ScratchAddons" rel="noopener">Organization</a>
			<a href="https://github.com/ScratchAddons/ScratchAddons" rel="noopener">Repository</a>
			<a href="https://github.com/ScratchAddons/ScratchAddons/wiki" rel="noopener">Documentation</a>
		</section>
		<section class="w-100 mt-3">
			<p>© {{ site.copyright_year }} Scratch Addons contributors</p>
			<p>
				Scratch Addons is not affiliated, associated, or in any way officially connected with Scratch, the Scratch Team, the Scratch Foundation, or any of its subsidiaries or its affiliates.
			</p>
			<p>Scratch Addons is licensed under the terms of GNU General Public License v3.0.</p>
		</section>
	</div>
</footer>
