---
---

@import "variables";

main {

    h1:nth-of-type(1) {
        display: block;
    }

    h2, h3, h4, h5, h6 {
        margin-top: 1rem !important;
        margin-bottom: 0.5rem !important;
    }

}