<header>

	<nav class="navbar navbar-expand-sm navbar-dark">
		
		<a href="/" class="navbar-brand">
			<img src="/assets/images/icon.png" class=""></img>
			<span>Scratch Addons</span>
		</a>
	
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible" aria-controls="collapsible" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	  	</button>
	
		<div class="collapse navbar-collapse" id="collapsible">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="https://github.com/ScratchAddons/ScratchAddons">Repository</a></li>
				<li class="nav-item"><a class="nav-link" href="/#install">Install</a></li>
				<li class="nav-item"><a class="nav-link" href="/contributors">Contributors</a></li>
			</ul>
		</div>
	
	</nav>
	
</header>