$scratch-orange: #ff7b26;
$bs-default-black: #212529;

// Based on Material Design

$dark-neutral: #121212;

$dark-dp-1: lighten($dark-neutral, 5);
$dark-dp-2: lighten($dark-neutral, 7);
$dark-dp-3: lighten($dark-neutral, 8);
$dark-dp-4: lighten($dark-neutral, 9);
$dark-dp-6: lighten($dark-neutral, 11);
$dark-dp-8: lighten($dark-neutral, 12);
$dark-dp-12: lighten($dark-neutral, 14);
$dark-dp-16: lighten($dark-neutral, 15);
$dark-dp-24: lighten($dark-neutral, 16);

$dark-disabled: rgba(255, 255, 255, 0.38);
$dark-low-emphasis: rgba(255, 255, 255, 0.6);
$dark-high-emphasis: rgba(255, 255, 255, 0.87);