---
---

@import "variables";

#feedback-form {

	#feedback-content {
		height: 200px;
	}
	
	#feedback-username {
		margin-bottom:10px;
	}

}

.col-xl-9 {
	
	@media (min-width: 768px) {
		margin-bottom: 2.5rem
	}

}

// body.dark contents moved to base.scss!
