---
---

@import "variables";

#intro {
	padding: 20px;
	background-color: $scratch-orange;
	color: white;
	text-align: center;
	
	h1 {
		margin: 0 0 0.5rem 0;
		padding: 0
	}

	img {
		width: 150px;
		height: 150px
	}
	
	.btn {
		color: white;	
		font-size: 1.3rem;
	}
	
	.btn-light {
		color: $bs-default-black;	
	}
	
}

#features {
	
	.features-icon {
		text-align: center;
		margin-bottom: 0.5rem
	}
	
	.features-circle {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 9rem;
		width: 9rem;
		margin: auto;
		background: $scratch-orange;
		color: white;
		border-radius: 50%;
	}

	.features-icon .iconify {
		height: 4.5rem;
		width: 4.5rem;
		margin: auto;
		text-align: center
	}
	
	p {
		margin: 0 0 0.5rem
	}
	
}

#install {
	
	.btn {
		font-size: 1.25rem;
		color: white
	}

}

main {
	padding: 0;

	section {
		text-align: center;
		margin-bottom: 2.5rem
	}
}


h2 {
	margin-bottom: 1rem
}

.image-placeholder {
	display: block;
	height: 200px;
	width: 200px;
	border: 2px black dashed
}

body.dark {

	#intro {
		background-color: lighten($dark-neutral, 7%);
	}

	#features {

		.features-circle {
			background-color: lighten($dark-neutral, 5%);
		}

	}

	#install {
		
		.btn {
			color: $bs-default-black;
			background-color: darken(#f8f9fa, 25%);
			border-color: darken(#f8f9fa, 25%);

			&:hover {
				background-color: darken(#e2e6ea, 25%);
				border-color: darken(#dae0e5, 25%);
			}

		}
		
	}

}