---
---

@import "variables";

#intro {
	// background: linear-gradient(to right bottom,#f7f5fb 50%,#fff 50%);

	background-color: $scratch-orange;
	color: white;

	a:not(.btn-white) {
		color: white;
		text-decoration: dotted;
	}

	img {
		max-height: 100%;
		max-width: 100%;
		box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.5);
	}

	.carousel-caption {
		background-color: rgba(0,0,0,0.7);
		box-shadow: 0px 0px 5px #000;
		border-radius: 0.5rem;
	}

	#intro-info {
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	#intro-img {
		height: 75vh
	}

	#install-intro {
		box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.75);
		
		p {
			margin-bottom: 0;

			&:nth-of-type(1) {
				font-size: 1.5rem
			}
			&:nth-of-type(2) {
				font-size: 0.75rem
			}

		}

	}

	[data-toggle="tooltip"] {
		background-image: linear-gradient(to right, white 75%, transparent 75%);
		background-position: 0 1.55rem;
		background-repeat: repeat-x;
		background-size: 10px 1.5px;
	}
	
}

#features {
	
	.features-icon {
		text-align: center;
		margin-bottom: 0.5rem
	}
	
	.features-circle {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 9rem;
		width: 9rem;
		margin: auto;
		background: $scratch-orange;
		color: white;
		border-radius: 50%;
	}

	.features-icon .iconify {
		height: 4.5rem;
		width: 4.5rem;
		margin: auto;
		text-align: center
	}
	
	p {
		margin: 0 0 0.5rem
	}
	
}

#install {
	
	.btn {
		font-size: 1.25rem;
	}

}

main {
	padding: 0;

	section {
		margin-bottom: 2.5rem
	}
}

h2 {
	margin-bottom: 1rem
}

.image-placeholder {
	display: block;
	height: 200px;
	width: 200px;
	border: 2px black dashed
}

body.dark {

	#intro {
		background-color: $dark-dp-2;

		img {
			margin-bottom: 0.75rem;
		}
	}

	#features {

		.features-circle {
			background-color: $dark-dp-1;
		}

	}

}

body.dark.extension-styled {

	#intro {
		background-color: #2a2a2a;
	}

	#features {

		.features-circle {
			background-color: #2a2a2a;
		}

	}

}