---
---

@import "variables";

#intro {
	margin-bottom: 1.5rem;
	padding: 20px;
	background-color: $scratch-orange;
	color: white;
	text-align: center;
	
	h1 {
		font-size: 2rem;
		margin: 0.5rem 0;
		padding: 0;

		.extension-name {
			font-weight: 650
		}

	}

	#intro-img {
		img {
			width: 150px;
			height: 150px
		}
	
		.iconify {
			width: 37.5px;
			height: 37.5px;
			margin-left: 20px;
			margin-right: 20px;
		}
	}
	
	.btn {
		color: white;	
	}
	
	.btn-light {
		color: $bs-default-black;	
	}
	
}

main {
	padding: 0;

	section:not(#intro) {
		text-align: center;
		margin-bottom: 2.5rem
	}
}

h2 {
	margin-bottom: 1rem
}

.image-placeholder {
	display: block;
	height: 200px;
	width: 200px;
	border: 2px black dashed
}

body.dark {

	#intro {
		background-color: $dark-dp-2;
	}

	#features {

		.features-circle {
			background-color: $dark-dp-1;
		}

	}

	#install {
		
		.btn {
			color: $bs-default-black;
			background-color: darken(#f8f9fa, 25%);
			border-color: darken(#f8f9fa, 25%);

			&:hover {
				background-color: darken(#e2e6ea, 25%);
				border-color: darken(#dae0e5, 25%);
			}

		}
		
	}

}